* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}

#app {
  width: 80%;
  top: 10vh;
  margin: 0 auto;
}
